{%extends "layout.html" %}
{% block title %}Auditorium{% endblock %}

{% block head %}
{{ super() }}
    <link rel="stylesheet" href="../static/css/auditorium.css">
{% endblock %}

{% block content %}

        <p style="background-color:black; color:white; text-align:center; font-size:20px; font-family: Georgia,Times
        New Roman,Times,serif;
    font-style: italic">The event will begin at 9:00 AM Saturday January 29th. In the meantime, enjoy this TED Talk
            from last year's
            event!</p>


    <img id="auditorium" src="../static/images/sorry.png" alt="auditorium">
<iframe class="responsive-iframe" allowfullscreen="allowfullscreen"
        src="https://www.youtube.com/embed/enZhKeQSOVA"></iframe>

    <form style="text-align: center" action={{url_for('home')}} method="get">
        <button id="lobby_button" type="submit" class="btn btn-outline-primary">Back to
            Lobby
        </button>
    </form>

{% endblock %}