<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Committee</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/committee.css">

</head>
<body>

    <div class="gallery">

        <div class="container gallery__item--1">
            <img src="../static/images/team%20members/Sree.jpeg" alt="Avatar" class="image" style="width:100%">
            <div class="middle">
                <div class="text">
                    <h2>Sree</h2>
                    <h6>DPT</h6>
                    <p>Bio here!!</p>
                </div>
            </div>
        </div>

        <div class="container gallery__item--2">
            <img src="../static/images/team%20members/Sasha.jpg" alt="Avatar" class="image" style="width:100%">
            <div class="middle">
                <div class="text">
                    <h2>Sasha</h2>
                    <h6>Executive Director</h6>
                    <p>Bio here!!</p>
                </div>
            </div>
        </div>

        <div class="container gallery__item--3">
            <img src="../static/images/team%20members/Jonathan.jpg" alt="Avatar" class="image" style="width:100%">
            <div class="middle">
                <div class="text">
                    <h3>Johnathon</h3>
                    <h6>DPT</h6>
                    <p>Bio here!!</p>
                </div>
            </div>
        </div>

        <div class="container gallery__item--4">
            <img src="../static/images/team%20members/Sherry.jpeg" alt="Avatar" class="image" style="width:100%">
            <div class="middle">
                <div class="text">
                    <h2>Sherry</h2>
                    <h6>Speaker</h6>
                    <p>Bio here!!</p>
                </div>
            </div>
        </div>


    </div>



    <p align="center"><a href={{url_for('home')}} ><button>Back to Lobby</button></a></p>

</body>
</html>