<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Committee</title>
    <link rel="stylesheet" href="../static/css/committee.css">

</head>
<body>

    <div class="gallery">

        <div class="container gallery__item--1">
            <img src="../static/images/placeholder.png" alt="Avatar" class="image" style="width:100%">
            <div class="middle">
                <div class="text">
                    <h1>Sree E.</h1>
                    <h2>DPT Committee</h2>
                    <p>Bio here!!</p>
                </div>
            </div>
        </div>

        <div class="container gallery__item--2">
            <img src="../static/images/placeholder.png" alt="Avatar" class="image" style="width:100%">
            <div class="middle">
                <div class="text">
                    <h1>Sasha</h1>
                    <h2>Executive Director</h2>
                    <p>Bio here!!</p>
                </div>
            </div>
        </div>

        <div class="container gallery__item--3">
            <img src="../static/images/placeholder.png" alt="Avatar" class="image" style="width:100%">
            <div class="middle">
                <div class="text">
                    <h1>Jonathan</h1>
                    <h2>DPT</h2>
                    <p>Bio here!!</p>
                </div>
            </div>
        </div>

    </div>



    <a href={{url_for('home')}}>Back to Lobby</a>
</body>
</html>