<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exhibits</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/exhibits.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../static/css/whole_website.css">
</head>
<body>

<div class="slideshow-container">

    <div class="mySlides">
        <img id="art1" src="../static/images/art/emily.png" alt="sample art">
        <br><br>
        <div class="descr1"><b>First Place: "Dandelion" by Emily Lin</b>
            <br><br>
            <p>My work, titled Dandelion, is a digital drawing. The titular flower has always been a source of
                inspiration, from its stubborn growth in places it shouldn't, the unabashed brightness of its bloom, and
                the inherent hope of the wishes it carries in its seeds. To me, dandelions represent the spirit of
                coming "Up From the Ashes," of overcoming obstacles, of picking one's self back up, and of growth. In
                this piece, the body represents things I've left behind, my past mistakes, parts of myself, and hangs
                there, buried and broken and gray. But up from it, through the roots, there are flowers above ground,
                there is growth and new life and light. My hope for myself is that I would continue to grow, and be
                informed, but not limited, by who I was. </p>
        </div>
    </div>


    <div class="mySlides">
        <audio class="music" controls>
            <source src="../static/audio/sample music.mp3" type="audio/mp3">
        </audio>
        <div>First Place: "" by</div>
        <p>Music 1 Bio
        </p>
    </div>


    <div class="mySlides">
        <img id="art2" src="../static/images/art/alicia.png" alt="sample art">
        <br><br>
        <div class="descr1"><b>Runner Up: "Colonizers" by Alicia Bao</b>
            <br><br>
            <p>This piece was made to depict how, in the wake of destruction left by colonizers, cultures rise up and
                reclaim their place. This piece was painted to resemble the Florence Cathedral, representing Italian
                colonizers, and the Rock-Hewn Churches of Lalibela, a UNESCO World Heritage Site in Ethiopia. In this,
                the Florence Cathedral is crumbling down, to the persisting culture and heritage represented by the
                Rock-Hewn Churches. This piece was also made to raise awareness about Yekatit 12, a massacre and
                imprisonment of Ethopians that occurred in 1937. While Italian sources claimed a few hundred were
                killed, it's estimated that about 20% of the population of Addis Ababa, or 19,200 were killed during
                this time. History often glorifies European colonization as a realization of culture, however, it's
                important to realize that original culture does persist, despite many attempts to erase it.</div>
    </div>

    <div class="mySlides">
        <audio class="music" controls>
            <source src="../static/audio/sample music.mp3" type="audio/mp3">
        </audio>
        <div>Runner Up: "" by</div>
        <p>Music 2 Bio
        </p>
    </div>


    <div class="mySlides">
        <img class="art3" src="../static/images/art/duke-1.gif" alt="sample art">
        <img class="art3" src="../static/images/art/duke-2.gif" alt="sample art">
        <br><br>
        <div class="descr1"><b>"Fire Horse" by Duke Lewis</b>
            <br><br>
            <p>I decided to make a gif in photoshop of a burning unicorn for the "Up from the Ashes" theme. I created
                two different versions of the image during my process. Thank you for looking at my art.</p>
        </div>
    </div>


    <div class="mySlides">
        <audio class="music" controls>
            <source src="../static/audio/sample music.mp3" type="audio/mp3">
        </audio>
        <div>"" by</div>
        <p>Music 3 Bio
        </p>
    </div>


    <div class="mySlides">
        <img id="art4" src="../static/images/art/tasha.jpg" alt="sample art">
        <br><br>
        <div class="descr1"><b>"Colonizers" by Tasha Paul</b>
            <br><br>
            <p>When I think of "up from the ashes," I imagine life emerging from a world of despair and darkness. It
                originates from a place where nobody expected it to come from. Not only does it survive, but it also
                grows and flourishes. This is what I depicted in my painting. At four different times yet in one
                desolate
                place, a flower pops out of the ground and grows. The rising moon is in sync with the flower's growth,
                and it represents the watching world as a person climbs out of the ashes. The colors of the sky slowly
                change from a dark red to a beautiful blue(each panel having less black at the top) which depicts how
                someone who picks themselves up is responsible for changing the world around them. In the fourth panel,
                butterflies emerge from the fully-bloomed flower, representing the pride and hard work of a person who
                defies odds and arises from darkness.</p>
        </div>
    </div>


    <div class="mySlides">
        <audio class="music" controls>
            <source src="../static/audio/sample music.mp3" type="audio/mp3">
        </audio>
        <div>"" by</div>
        <p>Music 4 Bio
        </p>
    </div>


    <div class="mySlides">
        <img id="art5" src="../static/images/art/vyshnavi.png" alt="sample art">
        <br><br>
        <div class="descr1"><b>"Reaching" by Vyshnavi Sabbi</b>
            <br><br>
            <p>I interpreted the theme rising from the ashes to mean reaching for new beginnings. I created this piece
                digitally with the intent of showing an outstretched hand from the perspective of the eyes of the being
                attached. I wanted to convey a sense of wonder and longing through this worm's eye view. I chose to make
                certain parts blurry (i.e. the moon, arm, and certain patches of stars) in order to make the hand the
                focal point. This also helps to create depth in the background, a balance of the areas with more
                concentrated stars and areas with less, and a loose and unbound mood throughout this piece.
            </p>
        </div>
    </div>

    <div class="mySlides">
        <audio class="music" controls>
            <source src="../static/audio/sample music.mp3" type="audio/mp3">
        </audio>
        <div>"" by</div>
        <p>Music 5 Bio
        </p>
    </div>


    <div class="w3-center">
        <button onclick="plusDivs(-1)">&#10094; Prev</button>
        <button onclick="plusDivs(1)">Next &#10095;</button>
        <br><br>
        <span>Art</span>
        <button onclick="currentDiv(1)">1</button>
        <button onclick="currentDiv(3)">2</button>
        <button onclick="currentDiv(5)">3</button>
        <button onclick="currentDiv(7)">4</button>
        <button onclick="currentDiv(9)">5</button>

        <span>Music</span>
        <button onclick="currentDiv(2)">1</button>
        <button onclick="currentDiv(4)">2</button>
        <button onclick="currentDiv(6)">3</button>
        <button onclick="currentDiv(8)">4</button>
        <button onclick="currentDiv(10)">5</button>
    </div>
    <br>

    <form style="text-align: center" action={{url_for('home')}} method="get">
        <button type="submit" class="btn btn-outline-primary">Back to
            Lobby
        </button>
    </form>

    <script src="../static/scripts/slideshow.js"></script>
</body>

</html>