<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
    <title>{% block title %}{% endblock %} - TEDxYouth@NCSSM</title>
    <link rel="shortcut icon" type="image/png" href="../static/images/notext-removebg-preview.png">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/whole_website.css">
    {% endblock %}
</head>
<body>

    <div id="content">{% block content %}{% endblock %}</div>

</body>
</html>