<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEDx Lobby</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="../static/scripts/jquery.bpopup.min.js"></script>
    <script src="../static/scripts/countdown.js"></script>
    <script src="../static/scripts/imageMapResizer.min.js"></script>
    <script>
        $( document ).ready(function() {
            let isshow = sessionStorage.getItem('isshow');
            if(isshow==null){
                sessionStorage.setItem('isshow', "1");
                $('#popup_this').bPopup()
            }
        });
    </script>
</head>
<body>

<div id="popup_this">
    <h3>Welcome to TEDxYouth @NCSSM 2020!</h3>
    <p id="countdown"></p>
    <p id="countdown-message">until the event begins on January 9th. Get excited!</p>
    <a href="https://www.eventbrite.com/e/tedxyouthncssm-tickets-130888756795?fbclid=IwAR07_MK7VXGKDv3LdfCZyDuf_MUt2im1DU-ZnnWeMrj7uyX-kBrQLXIAHk8" target="_blank">Signup and view this year's schedule HERE</a>
</div>

    <div>
        <div id="lobby">
            <img src="../static/images/lobby.png" alt="lobby" usemap="#lobbymap" >
        </div>

        <div id="lobby_map">
        </div>
        <map id="lm" name="lobbymap">
            <area alt="" title="" href={{url_for('exhibits')}} coords="1451,358,1217,292" shape="rect">
            <area  alt="" title="" href={{url_for('committee')}} coords="1449,440,1214,372" shape="rect">
            <area  alt="" title="" href={{url_for('sponsors')}} coords="1217,457,1449,522" shape="rect">
            <area  alt="" title="" href={{url_for('auditorium')}} coords="1215,116,1449,268" shape="rect">
            <area  alt="" title="" href={{url_for('photobooth')}} coords="1028,706,78" shape="circle">
        </map>
    </div>

<script>
    imageMapResize();
</script>

</body>
</html>