<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lobby</title>
    <link rel="stylesheet" href="../static/css/main.css">

</head>
<body>

    <div>
        <div id="lobby">
            <img src="../static/images/lobby.png" alt="lobby" usemap="#lobbymap" >
        </div>

        <map name="lobbymap">
            <area alt="" title="" href={{url_for('exhibits')}} coords="1451,358,1217,292" shape="rect">
            <area  alt="" title="" href={{url_for('committee')}} coords="1449,440,1214,372" shape="rect">
            <area  alt="" title="" href={{url_for('sponsors')}} coords="1217,457,1449,522" shape="rect">
            <area  alt="" title="" href={{url_for('auditorium')}} coords="1215,116,1449,268" shape="rect">
            <area  alt="" title="" href={{url_for('photobooth')}} coords="1028,706,78" shape="circle">
        </map>
    </div>

</body>
</html>