<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photobooth</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/photobooth.css">
    <link rel="shortcut icon" href="#">
</head>
<body id='body' onLoad="startVideo()">

<div id="screenshot">

    <span id="video-box">
        <span id="video_overlays">
            <img id="ted-logo" src="../static/images/photobooth%20filters/Recording.png" alt="TED logo">
        </span>
        <span><video autoplay></video></span>
        <span
                id="photo_with_border"><img id="user_photo" src="../static/images/Photobooth_Intro.png"
                                            alt="screenshot"></span>
    </span>

    <h1 id="countdown"><b></b></h1>

    <div id="buttons">
        <button id="screenshot-button">Manual Photo</button>
        <button id="auto_mode">Countdown!</button>
        <button id="download">Download Image</button><br>
        <label for="filter">Choose Filter</label>
        <select onLoad="setFilter()" name="filter" id="filter" onchange="setFilter()">
            <option value="Ashes" selected=selected>Ashes Logo</option>
            <option value="Logo">TEDxNCSSM Logo</option>
            <option value="Speakers">Speakers</option>
            <option value="Phoenix">Phoenix</option>
        </select>
    </div>

</div>

<p align="center"><a href={{url_for('home')}}>
    <button>Back to Lobby</button>
</a></p>

<script src="../static/scripts/photobooth.js"> </script>

</body>
</html>