{%extends "layout.html" %}
{% block title %}Speakers{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="../static/css/speakers.css">

    <title>Speakers</title>
{% endblock %}

{% block content %}

<div class="container">

    <div class="row justify-content-center heading">
        <h1>Meet our Speakers!</h1>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-md-6 col-lg-6 col-xl-5">
            <div id="speakersCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#speakersCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#speakersCarousel" data-slide-to="1"></li>
                  <li data-target="#speakersCarousel" data-slide-to="2"></li>
                  <li data-target="#speakersCarousel" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <a href="#levy"><img src="../static/images/speakers/levy.jpg" class="d-block w-100"
                                      alt="Graphic of Rachel Levy"></a>
                  </div>
                  <div class="carousel-item">
                    <a href="#linden"><img src="../static/images/speakers/linden.jpg" class="d-block w-100"
                                      alt="Graphic of Linden james"></a>
                  </div>
                  <div class="carousel-item">
                    <a href="#siani"><img src="../static/images/speakers/siani.jpg" class="d-block w-100"
                                      alt="Graphic of Siani-Simone Ammons"></a>
                  </div>
                  <div class="carousel-item">
                    <a href="#stencel"><img src="../static/images/speakers/stencel.jpg" class="d-block w-100"
                                      alt="Graphic of Mark Stencel"></a>
                  </div>

                </div>
                <a class="carousel-control-prev" href="#speakersCarousel" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#speakersCarousel" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
        </div>
    </div>
    <div class="row justify-content-center heading">
        <h1>Speaker Biographies</h1>
    </div>
    <div class="row speaker" id="levy">
        <div class="image col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 my-auto">
            <img src="../static/images/speakers/levy_circle.PNG" style="width:100%">
        </div>
        <div class="bio col-12 col-sm-6 col-md-6 col-lg-8 col-xl-9 my-auto">
            <h5>Rachel Levy</h5>
            <p>is Professor of Mathematics and the Executive Director of the North Carolina State University Data Science Academy, a universitywide interdisciplinary effort to meet the growing needs of data science research, education and expertise in North Carolina and beyond. Her writing, research and teaching has been honored with the MAA Alder award for teaching, the NCTM award for linking research and practice, the AWM EvenQuads card game and the SIAM Fellows Program.

                <br><br>She has served as an American Mathematical Society Congressional Fellow in the U.S. Senate, as
                     Deputy Executive Director of the Mathematical Association of America, as Vice President for Education for the Society for Industrial and Applied Mathematics and as Associate Dean for Faculty Development at Harvey Mudd College, where she was a member of the mathematics department for over a decade.  She also taught middle and high school at Carolina Friends School in Durham, NC.  She and her husband Sam graduated from NCSSM in 1985 and her brother Matt graduated in 1989.

                <br><br>Dr. Levy's research has focused on two areas:  fluid mechanics and education. Her work in fluid
                mechanics explained phenomena such as the way soap can make oil move and how whales leave flukeprints on the ocean surface.  Her education research centers on the idea that mathematics and data science belong to everyone, which means we need to choose empowering ways of building mathematics, statistics, data and information literacy. Her work has appeared in many news and media outlets including NPR, the Australian Radio Broadcast Company, Boingboing, Slate, the LA Times, USA Today and Education Week.
            </p>
        </div>
    </div>
    <div class="row speaker light-speaker" id="linden">
        <div class="image col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 my-auto">
            <img src="../static/images/speakers/linden_circle.PNG" style="width:100%">
        </div>
        <div class="bio col-12 col-sm-6 col-md-6 col-lg-8 col-xl-9 my-auto">
            <h5 style="color:black">Linden James</h5>
            <p style="color:black">is a junior at the North Carolina School of Science and Mathematics and previous
                student at Durham School of the Arts. Linden speaks honestly about their experiences with Obsessive
                Compulsive Disorder in their talk “OCD Was My Quarantine Hobby”. Linden argues for a more holistic
                understanding of the illness and more accessible treatment options, highlighting the difficulties OCD
                presented to not only them, but their family. Considering careers in harm reduction, materials
                science, philosophy, and teaching, Linden enjoys making soap, singing along to '90s rock anthems,
                learning Bokmål, and volunteering at
                the
                local animal shelter in their free time. </p>
        </div>
    </div>
    <div class="row speaker" id="siani">
        <div class="image col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 my-auto">
            <img src="../static/images/speakers/siani_circle.PNG" style="width:100%">
        </div>
        <div class="bio col-12 col-sm-6 col-md-6 col-lg-8 col-xl-9 my-auto">
            <h5>Siani-Simone Ammons</h5>
            <p>creates a narrative that exposes the heart-wrenching impact that lack of representation has on
                marginalized groups in her talk, "The Story That Began With Representation". Siani-Simone Ammons
                began her academic career at the Wilson Early College Academy and now attends the North Carolina School of Science and Mathematics. Siani-Simone loves to read, write, cook, analyze television shows and movies, study history, neuroscience, psychology and visit restaurants with her mother and grandmother. Siani-Simone aspires to become a neurosurgeon and also write a couple of best-selling books along the way. Most all of, she wants to ensure that anyone can look at a television screen or open a book, seeing positive representation in a person that embodies character traits that they hope to obtain.
            </p>  </div>
    </div>
    <div class="row speaker light-speaker" id="stencel">
        <div class="image col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 my-auto">
            <img src="../static/images/speakers/stencel_circle.PNG" style="width:100%">
        </div>
        <div class="bio col-12 col-sm-6 col-md-6 col-lg-8 col-xl-9 my-auto">
            <h5 style="color:black">Mark Stencel</h5>
            <p style="color:black">is co-director of the Reporters' Lab at Duke University, where he teaches
                journalism and tracks the growth of political fact-checking. He also oversees the Lab's work
                developing tools that increase fact-checkers’ impact. He previously worked at National Public Radio, Congressional Quarterly, The Washington Post and North Carolina’s News & Observer. At the Post, he worked on early fact-checking experiments during four presidential campaigns starting in 1992.</p> </div>
<br>
<form style="text-align: center" action={{url_for('home')}} method="get">
    <button type="submit" class="btn btn-outline-primary">Back to
        Lobby
    </button>
</form>
<br>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% endblock %}
