<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sponsors</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/whole_website.css">
    <style>
        p{
            font-family: Helvetica, Sans-Serif, serif;
            color:white;
            padding-left:10%;
            padding-right:10%;
        }
    </style>

</head>
<body style="background-color: black">
<br>
<p style="text-align:center; font-size:20px;">A huge thank you to all of the sponsors who made this event happen,
    and to TEDx for creating a platform for ideas worth sharing!</p>
<div style="width:95%;margin:0 auto">

    <marquee>

        <img  src="../static/images/sponsors/monuts.png" alt="monuts logo"
              onclick=window.open("https://www.monutsdonuts.com/") >
        <img  alt="NCSSM logo" src="../static/images/sponsors/NCSSM.png" onclick=window.open("https://www.ncssm.edu/")>
        <img src="../static/images/sponsors/Fair Trade.png" alt="bull city logo"
             onclick=window.open("http://www.bullcityfairtrade.com/")>
        <img src="../static/images/sponsors/tedx.png" alt="tedx logo"
             onclick=window.open("http://www.bullcityfairtrade.com/") >
    </marquee>


</div>

<br>
<form style="text-align: center" action={{url_for('home')}} method="get">
    <button type="submit" class="btn btn-outline-primary">Back to
        Lobby
    </button>
</form>

</body>
</html>