{%extends "layout.html" %}
{% block title %}Sponsors{% endblock %}

{% block head %}
{{ super() }} <style>
        p{
            font-family: Helvetica, Sans-Serif, serif;
            color:white;
            padding-left:10%;
            padding-right:10%;
        }
        body{
            background-color: black;
        }
    img{
        width:50%;
    }
    </style>
{% endblock %}

{% block content %}
<br>
<p style="text-align:center; font-size:20px; font-family: Georgia,Times New Roman,Times,serif; font-style: italic">A huge thank you to all of the sponsors who made this event happen,
    and to TEDx for creating a platform for ideas worth spreading! Click to learn more about our sponsors.
<div style="width:95%; height:50%;margin:0 auto">

    <marquee>

        <img  src="../static/images/sponsors/monuts.png" alt="monuts logo"
              onclick=window.open("https://www.monutsdonuts.com/") >
        <img src="../static/images/sponsors/Toffee.png" alt="Durham Toffee Co"
             onclick=window.open("https://durhamtoffee.com/") >
        <img  src="../static/images/sponsors/foray.png" alt="Foray Technologies"
              onclick=window.open("https://foray.com/") >
        <img  src="../static/images/sponsors/pincho.png" alt="Pincho Loco"
              onclick=window.open("https://pincho-loco.business.site/") >
        <img  alt="NCSSM logo" src="../static/images/sponsors/NCSSM.png"
              onclick=window.open("https://www.ncssm.edu/")>
        <img src="../static/images/sponsors/tedx.png" alt="TEDx"
             onclick=window.open("https://www.ted.com/") >

    </marquee>

<p style="text-align:center; font-size:20px; font-family: Georgia,Times New Roman,Times,serif; font-style: italic">
    Thank you to our faculty sponsor <b> Nina Kornegay</b> for supporting our team throughout the year. Thank you
    to <b>Dr. Amy Sheck</b> for providing guidance in the planning process.
    Thank you to faculty <b>Scott Laird</b> and <b>Carrie Alter </b> for judging this
    year's Art and Music Competition.


</div>

<br>
<form style="text-align: center" action={{url_for('home')}} method="get">
    <button type="submit" class="btn btn-outline-primary">Back to
        Lobby
    </button>
</form>
<br>

{% endblock %}