<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sponsors</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<br>
<p style="text-align:center; font-size:20px;">A huge thank you to all of the sponsors who made this event happen,
    and to TEDx for creating a platform for ideas worth sharing!</p>
<div style="width:95%;margin:0 auto">
    <img  src="../static/images/sponsors/monuts.png" onclick=window.open("https://www.monutsdonuts.com/") alt="monuts logo">
    <img src="../static/images/sponsors/NCSSM.png" onclick=window.open("https://www.ncssm.edu/") alt="NCSSM logo">
    <img src="../static/images/sponsors/Fair Trade.png" onclick=window.open("http://www.bullcityfairtrade.com/")
         alt="bull city logo">
    <img style="width:330px; height:98px;"src="../static/images/sponsors/tedx.png"
         onclick=window.open("http://www.bullcityfairtrade.com/") alt="tedx logo">
</div>


<p align="center"><a href={{url_for('home')}} ><button>Back to Lobby</button></a></p>


</body>
</html>