/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
    position: absolute;
    top: 20%;
    left: 0;
    bottom: 0;
    right: 0%;
    width: 40%;
    height: 50%;
    margin: 0 auto;
}

#speaker_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, p{
    font-family: Helvetica, Sans-Serif;
    color:#FF2B06;

}

.btn {
    border-color:  #FF2B06;
    color:#FF2B06;
}

.btn-outline-primary:hover {
    color: white;
    background-color: #FF2B06;
    border-color: #FF2B06;
}

#heather{
    top:20%;
}

#lobby_button{
    position:absolute;
    bottom:5%;
    left:45%;
}

#auditorium {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    /*width: 80%;*/
    height: 100%;
    z-index: -1;
}

/*#bios{*/
/*    text-align: center;*/
/*    position: absolute;*/
/*    top:0;*/
/*    right:0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    z-index: -1;*/
/*    background-color: black;*/
/*}*/