#members-accordion {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-header {
    padding: 0;
    border-width: 4px;
    border-color: rgb(230, 43, 30);
    background-color:rgb(230, 43, 30);
}

.card-header:hover {
    background-color: white;
}

.header-button {
    padding: 20px;
    background-color: transparent;
    font-weight: bold;
    color: white;
}

.header-button:hover {
    color: rgb(230, 43, 30);
}

.gallery-item {
    position: relative;
    object-fit: cover;
    /*display: inline-block;*/
    text-align: center;
}

.image {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: .5s ease;
    opacity: 0;
    display: block;
    text-align: center;
}

.gallery-item:hover .image {
    opacity: 0.5;
}

.gallery-item:hover .middle {
    opacity: 1;
}

.text {
    background-color: red;
    color: white;
    padding: 0.5rem 0.5rem;
}