body{
    background-color: black;
}

p, div{
    color:white;
    font-family: Helvetica, Sans-Serif, serif;
}

#art1{
    width:500px;
}

#art2{
    width:500px;
}

b{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.mySlides{
    text-align: center;
    padding-top:2%;
}

.art3{
    width:400px;
}

#art4{
    width:800px;
}

#art5{
    width:400px;
}

.descr1{
    padding-right:10%;
    padding-left:10%;
}

.w3-center{
    bottom:0;
}