body{
    background-color: black;
}

p, div{
    color:white;
    font-family: Helvetica, Sans-Serif, serif;
}

#art1{
    width:500px;
    padding-top:2%;
}

#art2{
    width:500px;
    padding-top:2%;
}

b{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.mySlides{
    /*background-color: red;*/
    text-align: center;
}

.art3{
    width:400px;
    padding-top:2%;
}

#art4{
    width:800px;
    padding-top:2%;
}

.music{
    padding-top:2%;
}

#art5{
    width:400px;
    padding-top:2%;
}

#sample2{
}

.descr1{
    padding-right:10%;
    padding-left:10%;
}

/*.slideshow-container {*/
/*    width:500px;*/
/*    height:500px;*/
/*    position: relative;*/
/*    margin: auto;*/
/*    align-content: center;*/
/*}*/

.w3-center{
    bottom:0;
}