#video_box {
    position:relative;
    display:block;
}
#video_overlays {
    position:absolute;
    width:12.5%;
    z-index:3;
    top: 15px;
    left:15px;
    text-align:center;
}

#buttons{
    float:left;
}

#screenshot{
    display: inline;
    background-color: red;
}

#ted-logo{
    width:358%;
    height:100%;
}

body{
    background-color: black;
}

#home_link{
    position:relative;
    text-align:center;
    color:white;
}

h1{
    position:absolute;
    top:27%;
    left:23%;
    font-size: 100px;
    font-family: 'Allerta Stencil', serif;
    color:white;
}

#user_photo{
    float:right;
    border: 10px solid #FF2B06;
    margin:15px;
}

video{
    width:47%;
    position:relative;
    float:left;
    padding:15px;
}
