#video_box {
    position:relative;
    display:block;
}
#video_overlays {
    position:absolute;
    width:12.5%;
    z-index:3;
    top:15px;
    left:15px;
    text-align:center;
}

#curtains{
    position: absolute;
    top:0;
    left:0;
    width: 80%;
    height: 100%;
    z-index: -1;
}

#screenshot{
    display: inline;
}

#ted-logo{
    width:400%;
    height:100%;
}

body{
    background-color: #FF2B06;
}

#home_link{
    position:relative;
    text-align:center;
    color:white;
}

h1{
    position:absolute;
    top:27%;
    left:23%;
    font-size: 100px;
    font-family: 'Allerta Stencil', serif;
    color:white;
}

span{
    display:inline;
}

#user_photo{
    float:right;
    border: 10px solid #000;
    margin:15px;
}

video{
    width:47%;
    position:relative;
    float:left;
    padding:15px;
}
