.heading{
    margin:20px;
}

.speaker {
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    padding: 10px;
    border-color: black;
}

.light-speaker {
    background-color: white;
}